import typer
from rich import print

app = typer.Typer()

@app.command()
def hello(name: str = typer.Option("World")) -> None:
    """Say hello to the user."""
    print(f"[bold green]Hello {name}![/bold green]")

if __name__ == "__main__":
    app()